<p>
Unter Bezugnahme auf Ihre Bitte nach einer Untervermietungserlaubnis gestatte ich Ihnen,
folgenden Räumlichkeiten unterzuvermieten: {{sublease_rooms}}. Die Erlaubnis bezieht sich ausdrücklich
auf die von Ihnen bezeichnete Person ({{subtenant.first_name}} {{subtenant.last_name}}).
</p>
<p>
Es ist empfehlenswert, dass Sie mit dem Untermieter gleichlaufende Kündigungsfristen vereinbaren,
so wie diese im Hauptmietverhältnis maßgebend sind. Sie vermeiden Probleme,
falls Ihr Hauptmietverhältnis aus einem derzeit nicht absehbaren Grund gekündigt werden sollte.
</p>
<p>
Da ich zu Ihrem Untermieter nicht in vertragliche Beziehungen trete, bleiben ausschließlich Sie
zur Zahlung der vollen Miete und der vereinbarten Nebenkostenvorauszahlungen verpflichtet.
Es ist Ihre Aufgabe, mit ihrem Untermieter gegebenenfalls eine Nebenkostenbeteiligung zu vereinbaren.
</p>
<p>
Ich behalte mir den Widerruf der Untervermietungserlaubnis ausdrücklich vor,
wenn sich die für die Erlaubnis maßgeblichen Umstände so verändern, dass es mir nicht mehr zumutbar ist,
die Erlaubnis aufrechtzuerhalten.
</p>
